<div class="box">
	<h1>EU Chapter</h1>
	<p class="right">Same as these guys →</p>
</div>

<hr>

<div class="box">
	<h2>Raid Times</h2>
	<table>
		<tr>
			<td>Saturday</td>
			<td>9:00PM — 01:00AM</td>
		</tr>
		<tr>
			<td>Sunday</td>
			<td>8:00PM — 12:00AM</td>
		</tr>
		<tr>
			<td>Friday *</td>
			<td>9:00PM — 01:00AM</td>
		</tr>
	</table>
	<small>* Optional raid day, used for progression.</small>
	<small>All times in CET/GMT+1/UTC+1</small>
</div>

<hr>

<div class="box">
	<a target="_blank" class="discord" href="https://discord.gg/kf4u5ny"></a>
	<div class="teamspeak">
		<div class="ts-logo"></div>dbc.nogf.moe
	</div>
</div>
