@import "../../styles/shared.scss";

.smoke-canvas {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.landing-container {
  position: relative;
  z-index: 1;
  max-width: 1366px;
  margin: 0 auto;

  .history {
    padding: 20px;
    background-color: rgba($color: $color-dbc-green, $alpha: 0.5);
    border-radius: 10px;
  }
}
