<canvas #canvas class="smoke-canvas"></canvas>

<div class="landing-container">
	<div class="history">
		<h1>Our History</h1>
		We're a confederation of certifiably dank dudes stretching back to Nostalrius 2015, looking to enjoy WoW classic
		without burning the candle. We expect the guild to continue clearing naxx and farming it as it has already done
		multiple times during previous iterations. We may not devote the time for realm firsts but we remain competitive and
		anyone who sticks around can expect to see the entirety of the content. We understand everyone’s real life comes
		first
		and will always do our best to respect that. In return, we will aim to be as efficient and competitive as we can
		with
		the time we do have available.
	</div>

	<div class="chapters">
		<div class="landing eu">
			<app-eu></app-eu>
		</div>
		<div class="landing na">
			<app-na></app-na>
		</div>
	</div>
</div>
