<canvas #canvas class="smoke-canvas"></canvas>
<div class="landing-container">
	<div class="landing eu">
		<div class="box">
			<h1>EU Chapter</h1>
			<p class="right">Same as these guys →</p>
		</div>

		<hr>

		<div class="box">
			<h2>Raid Times</h2>
			<table>
				<tr>
					<td>Saturday</td>
					<td>9:00PM — 01:00AM</td>
				</tr>
				<tr>
					<td>Sunday</td>
					<td>8:00PM — 12:00AM</td>
				</tr>
				<tr>
					<td>Friday *</td>
					<td>9:00PM — 01:00AM</td>
				</tr>
			</table>
			<small>* Optional raid day, used for progression.</small>
			<small>All times in CET/GMT+1/UTC+1</small>
		</div>

		<hr>

		<div class="box">
			<a target="_blank" class="discord" href="https://discord.gg/kf4u5ny"></a>
			<div class="teamspeak">
				<div class="ts-logo"></div>dbc.nogf.moe
			</div>
		</div>
	</div>
	<div class="landing na">

		<div class="box">
			<h1>NA Chapter</h1>
			<p>We're a confederation of certifiably dank dudes stretching back to Nostalrius 2015, looking to
				enjoy WoW classic without burning the candle. We expect the guild to continue clearing naxx and farming it as it
				has already done
				multiple times during previous iterations. We may not devote the time for realm firsts but we remain competitive
				and anyone who sticks around can expect to see the entirety of the content. We understand everyone’s real life
				comes first and will always do our best to respect that. In return, we will aim to be as efficient and
				competitive
				as we can with the time we do have available.</p>
		</div>

		<hr>

		<div class="box">
			<h2>Raid Times</h2>
			<table>
				<tr>
					<td>Tuesday</td>
					<td>6:00PM — 10:00PM</td>
				</tr>
				<tr>
					<td>Wednesday</td>
					<td>6:00PM — 10:00PM</td>
				</tr>
				<tr>
					<td>Sunday *</td>
					<td>6:00PM — 9:00PM</td>
				</tr>
			</table>
			<small>* Fallback/optional day, if additional raid time is required for progression content</small>
			<small>All times in PST</small>
		</div>

		<hr>

		<div class="box">
			<div class="teamspeak">
				<div class="ts-logo"></div>dankkbudz.teamspeak3.com
			</div>
			<div class="youtube">
				<iframe src="https://www.youtube.com/embed/PhrtAOYT_kY" frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<ul>
				<li><a href="https://docs.google.com/document/d/1vooF-7zyMd87jWizjCYcU7_CpZtfhZxWQ252lOUjvW0/edit?usp=sharing"
						target="_blank">Further reading</a></li>
			</ul>
		</div>
	</div>
</div>
