@import "../../styles/shared.scss";

.smoke-canvas {
  z-index: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.landing-container {
  position: relative;
  z-index: 1;
  max-width: 1366px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

  .landing {
    transition: margin 0.1s, padding 0.1s;
    margin: 20px;
    padding: 20px;

    .box {
      padding: 20px;
      background-color: rgba($color: #000000, $alpha: 0.85);
    }

    a,
    table,
    small {
      display: block;
    }

    table {
      td {
        width: 50%;
      }
    }

    ul {
      list-style-position: inside;

      a {
        display: initial;
        background: none;
        padding: initial;
        color: $color-white;
      }
    }

    &.eu {
      background: url(../../assets/Flag_of_Europe.svg) no-repeat center center;
      background-size: cover;
    }

    &.na {
      background: url(../../assets/Flag_of_the_United_States.svg) no-repeat 33% center;
      background-size: cover;
    }

    &:hover {
      transition: margin 0.2s, padding 0.2s;
      margin: 0;
      padding: 40px;
    }

    .right {
      text-align: right;
    }

    .discord {
      height: 4em;

      background: url(../../assets/Discord-Logo+Wordmark-Color.svg) no-repeat center center;

      &:hover {
        background-image: url(../../assets/Discord-Logo+Wordmark-White.svg);
      }
    }

    .teamspeak {
      display: flex;
      justify-content: center;
      align-items: center;

      .ts-logo {
        height: 4em;
        width: 4em;

        background: url(../../assets/TS_Stacked_BlueLight_CMYK.svg) no-repeat center center;
      }

      &:hover {
        .ts-logo {
          background-image: url(../../assets/TS_Stacked_Light_CMYK.svg);
        }
      }
		}

		.youtube {
			margin-top: 20px;
			display: flex;
			flex-direction: column;
			align-items: stretch;

			iframe {
				height: 240px;
			}
		}
  }
}

@media screen and (max-width: 768px) {
  .landing-container {
    display: initial;
  }
}
