<div class="container">
	<h1>NA Chapter</h1>

	<div class="content">
		<div class="box">
			<h2>Raid Times</h2>
			<table>
				<tr>
					<td>Tuesday</td>
					<td>6:00PM — 10:00PM</td>
				</tr>
				<tr>
					<td>Wednesday</td>
					<td>6:00PM — 10:00PM</td>
				</tr>
				<tr>
					<td>Sunday *</td>
					<td>6:00PM — 9:00PM</td>
				</tr>
			</table>
			<small>* Fallback/optional day, if additional raid time is required for progression content</small>
			<small>All times in PST</small>
		</div>

		<hr>

		<div class="box">
			<div class="teamspeak">
				<div class="ts-logo"></div>dankkbudz.teamspeak3.com
			</div>
			<div class="youtube">
				<iframe src="https://www.youtube.com/embed/PhrtAOYT_kY" frameborder="0"
					allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<ul>
				<li><a href="https://docs.google.com/document/d/1vooF-7zyMd87jWizjCYcU7_CpZtfhZxWQ252lOUjvW0/edit?usp=sharing"
						target="_blank">Further reading</a></li>
			</ul>
		</div>
	</div>
</div>
