<h1>Class Representatives</h1>

<p>In Classic we will add an additional rank to the guild structure: In addition to regular officers we will have
	<u>elected class representatives</u>. People can nominate themselves and be put up for election on semi-frequent
	intervals (expect not more than one election per phase) by their respective class. Nomination is of course voluntary.
</p>

<p>
	Every class gets one representative, the exceptions are Druids and meme specs. Druids can be covered by the Priest and
	Shaman representatives because there typically are not that many in the raid and guild.
</p>

<p>Tasks for the representatives may include:</p>
<ul>
	<li>Be the "voice" for your class to the officers so that the members are heard if they have issues. <u>This is the
			most important task for the representative</u>.</li>
	<li>Help discuss the loot priorities for raids, especially future content phases and give input regarding loot
		counciled items as far as their own class is concerned.</li>
	<li>Assist in getting members from your class to sign-up for the raids. Help in maintaining a healthy roster of
		members of their own class.</li>
	<li>Discussing contents of care packages for their own class.</li>
	<li>Assist with assignments for raids for their own class.</li>
</ul>
<p>You will be given the ability to talk in officer chat in-game and on Discord and will attend certain officer
	meetings.</p>

<p>We want to stress that <u>this is not an officer position</u>. It is merely a class rep position so that your class
	is represented and their opinions can be heard by officers in an orderly fashion rather than everyone pinging or
	messaging the officers chaotically. You should think of the officers of being the "government" of the guild and the
	representatives being the "opposition". Representatives will have a drastically reduced workload in comparison to
	actual officers, but it won't be a free ride either, the position does come with responsibilities and tasks.</p>

<hr>

<h1>Guild Bank Investments</h1>

<p>We've come up with an investment scam option for the start of the server, that incentivizes giving valuable drops or
	much needed gold at the start of the server to the guild, to get the ball rolling. Being generous with something like
	that shouldn't fuck over the person doing it, which was the case so far.
</p>

<p>In Classic, from the start of the server <u>up until the first raid of the guild</u>, people can invest gold and
	valuable
	items (we will create a list) into the guild for a limited time. For items, we will agree on a gold value together.
</p>

<p>Then, later during phase 1, we will pay out an appropriate amount of gold to each person that invested into the guild
	early. People will be able to choose from the two following options:</p>

<ul>
	<li>130% of gold value invested paid out as gold directly</li>
	<li>150% of gold value invested put up as a weekly donation for DKP</li>
</ul>

<p>If you pick the DKP option, the gold value (150% of what you invested) will be used each week as your donation option
	for DKP automatically until the gold value has been used up.</p>

<hr>

<h1>+1 For Summoning Alts</h1>

<p><u>We're going to be awarding +1's for summoning alts in Classic at the start of Phase 2</u>.</p>

<p>This will position us to go for world bosses at this point as well as a bunch of other content that becomes very nice
	(very nice) once we have an abundance of summoning alts available. <u>Warlocks should also level a summoning alt</u>
	if they
	want the +1 as parking their main somewhere for an extended period of time will not be viable.</p>

<p>The +1 works the same way as it did on previous servers: You use it in addition to your normal bid, which then acts
	as a "booster" for that bid. The +1 beats all other bids, 3:1 or not, and can only be beaten by a higher bid by
	someone also using a +1. The only exception are off-spec bids.
	<br>
	A few item priorities were adjusted to reflect this. This means more items have off-spec priorities (off-spec can bid
	at 3:1) now and in the future.</p>

<p>A few examples for this system in use, with priorities as they were when this was written:</p>
<ul>
	<li>Band of Accuria drops, bids are Rogue (100), Warrior (320), Hunter (1)+1 // Hunter wins</li>
	<li>Mana Igniting Cord drops, bids are Mage (150), Warlock (100), off-spec(200)+1 // Mage wins</li>
	<li>Cloak of Shrouded Mists drops, bids are Shaman/off-spec (100), Druid/off-spec (25)+1 // Druid wins</li>
</ul>
<p>A +1 can only be used on drops from content that was released when the +1 was awarded. No saving it for future raids.
</p>

<p><u>There will be more than just one +1 in the future, others are currently being worked out exactly when and how they
		will be awarded</u>.</p>