@import "../../styles/shared.scss";


.content-wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	>* {
		width: 100%;
	}

	background-color: $color-gray;
}

.content {
	margin-top: 20px;
	flex-grow: 1;

	max-width: 1366px;
}
