<h1>First 25 To Lv60 in Classic WoW</h1>

<ol class="podium">
	<li>
		<div class="winner"><span class="flag eu"></span> Nalta</div>
	</li>
	<li>
		<div class="winner"><span class="flag eu"></span> Sorrybro</div>
	</li>
	<li>
		<div class="winner"><span class="flag eu"></span> Qmage</div>
	</li>
</ol>

<ol start="4" class="next-7">
	<li><span class="flag eu"></span> Getscared</li>
	<li><span class="flag eu"></span> Dethox</li>
	<li><span class="flag na"></span> Shakur</li>
	<li><span class="flag na"></span> Kizzler</li>
	<li><span class="flag eu"></span> Shogeki</li>
	<li><span class="flag eu"></span> Vesilia</li>
	<li><span class="flag na"></span> Brye</li>
</ol>

<hr>

<ol start="11">
	<li><span class="flag na"></span> Assass</li>
	<li><span class="flag eu"></span> Turnippie</li>
	<li><span class="flag eu"></span> Socro</li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ol>
