<h1>DBC Top 10 Level 60's in Classic WoW</h1>

<ol class="topten">
	<li>Nalta <span class="flag eu"></span></li>
	<li>Sorrybro <span class="flag eu"></span></li>
	<li>Qmage <span class="flag eu"></span></li>
	<li>Getscared <span class="flag eu"></span></li>
	<li>Dethox <span class="flag eu"></span></li>
	<li>Shakur <span class="flag na"></span></li>
	<li>Kizzler <span class="flag na"></span></li>
	<li>Shogeki <span class="flag eu"></span></li>
	<li>Vesilia <span class="flag eu"></span></li>
	<li></li>
</ol>

Bredy good as well:
<ol start="11">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ol>
