@import "../../styles/shared.scss";

nav {
  position: relative;
	z-index: 1;

	overflow: hidden;

  height: 240px;

  .ribbon {
    position: absolute;
    top: 0;
    left: -50px;
    right: -50px;

		height: 120px;
		padding: 20px 70px 20px 70px;

    &.left {
      transform: rotate(-3deg);
      background-color: $color-dbc-green;
    }

    &.right {
      transform: rotate(3deg);
      background-color: rgba($color: $color-dbc-green, $alpha: 0.5);
		}

		.dbc-title {
			display: flex;
			justify-content: center;
			align-items: center;

			height: 100%;

			.dbc-name-text {
				font-size: 72px;
				line-height: 1em;
				font-weight: bold;
				text-shadow: 20px 10px 10px $color-gray;
			}
		}

		.links {
			position: absolute;
			left: 70;
			bottom: 0;

			a {
				border: 2px solid $color-dbc-green;
				padding: 10px;
				margin-right: 10px;
			}
		}
  }
}
