/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import "~normalize.css/normalize.css";
@import '~csshake';
@import "styles/shared.scss";


body {
	font-family: "Montserrat", sans-serif;
	color: $color-white;
	font-size: 18px;
	line-height: 1.6em;
}

h1, h2, h3 {
	line-height: 1.2em;
}

hr {
	border-color:$color-white;
	border-style: dashed;
	margin-top: 20px;
	margin-bottom: 20px;
}